.s6MaxV__02-texts {
  padding: 64rem 2rem 3.2rem;

  @media only screen and (max-width: 500px) {
    padding: 52rem 2rem 3.2rem;
  }

  &__text {
    @include S6MaxV-text-box(72rem);

    &:first-of-type {
      margin-bottom: 32rem;

      @media only screen and (max-width: 500px) {
        margin-bottom: 24rem;
      }
    }

    & h2 {
      margin-bottom: 3.2rem;
    }

    & p {
      @include S6MaxV-paragraph(center, var(--color-txt-grey-darker));
    }
  }
}