.s6MaxV__07-floor {
  margin-bottom: 6.4rem;

  @media only screen and (min-width: 421px) {
    margin-bottom: 12.8rem;
  }

  &__text {
    display: block;
    margin: 0 auto 3.2rem auto;

    @media only screen and (min-width: 901px) {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      padding: 3.2rem 2rem;
    }

    & h2 {
      line-height: 1.8;
      text-align: left;
      margin-bottom: 1.6rem;

      @media only screen and (min-width: 901px) {
        line-height: 1;
        margin-bottom: 0;
      }
    }

    & article {
      @include S6MaxV-paragraph(left);
      max-width: 44rem;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 12rem; // animated in js
    opacity: 0; // animated in js
    transition: opacity .4s, margin-top .5s;
  }
}