.s6MaxV__08-suction {
  padding: 0 2rem;
  margin-bottom: 6.4rem;

  &__text {
    width: 70%;
    max-width: 90rem;
    margin: 0 auto 6.4rem;

    @media only screen and (max-width: $bp-small) {
      width: 90%;
    }

    & h2 {
      line-height: 1.6;
      margin-bottom: 1.6rem;
    }

    & p {
      @include S6MaxV-paragraph;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 130rem;
    margin-bottom: 3.2rem;
    margin-top: 12rem; // animated in js
    opacity: 0; // animated in js
    transition: opacity .4s, margin-top .5s;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      width: 85%;
      margin: 16rem auto 3.2rem;
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: 1fr;
      width: 90%;
    }

  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      margin-bottom: 3.2rem;
    }

    @media only screen and (max-width: 750px) {
      align-items: center;
    }

    @media only screen and (max-width: 600px) {
      align-items: flex-start;
    }

    &__value {
      font-size: 4rem;
      font-weight: 700;
      color: #6d818d;

      @media only screen and (max-width: $bp-large) {
        font-size: 3.2rem;
      } 

      @media only screen and (max-width: 750px) {
        font-size: 2.8rem;
      } 
    }

    &__prop {
      @include S6MaxV-paragraph;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.6rem;
      } 

      @media only screen and (max-width: 750px) {
        font-size: 1.4rem;
      } 
    }
  }

  &__suction {
    position: relative;
    overflow: hidden;
    transition: all .5s;

    &__text {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        align-items: center;
        margin-bottom: 3.2rem;
      }

      &__value {
        font-size: 16rem;
        font-weight: 500;
        color: #6d818d;

        @media only screen and (max-width: $bp-medium) {
          font-size: 20vw;
        }
      }

      &__prop {
        font-size: 5.4rem;
        text-transform: capitalize;
        color: #6d818d;

        @media only screen and (max-width: $bp-medium) {
          font-size: 6vw;
        }
      }
    }

    &__video-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 20%;
      overflow: hidden;

      @media only screen and (max-width: $bp-medium) {
        width: 130%;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__video {
      display: block;
      width: 102%;
      height: auto;
    }
  }
}