.s6MaxV__09-mapping {
  --height: 70rem;
  position: relative;
  margin-bottom: 6.4rem;

  &__background {
    position: static;
    height: 40rem;
    width: 100%;
    margin-bottom: 4rem;
    background-image: url(../images/s6maxV-mapping-background.jpg);
    background-size: cover;
    background-position: center 80%;
    z-index: -1;

    @media only screen and (min-width: 751px) {
      position: sticky;
      top: 0;
      height: 100vh;
      min-height: var(--height);
      background-position: center;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    padding: 3.2rem;
    transition: opacity .3s;

    @media only screen and (min-width: 751px) {
      position: sticky;
      top: 0;
      flex-direction: row;
      height: 100vh;
      min-height: var(--height);
      background-color: rgba(255, 255, 255, .85);
    }
  }

  &__text {
    width: 90%;
    
    @media only screen and (min-width: 421px) {
      width: 70%;
    }

    @media only screen and (min-width: 751px) {
      width: 35%;
    }

    & h2 {
      text-align: left;
      line-height: 1.6;
      margin-bottom: 1.6rem;
    }

    & p {
      @include S6MaxV-paragraph(left);
      margin-bottom: 1.6rem;

      @media only screen and (min-width: 751px) {
        margin-bottom: 0;
       }
    }
  }

  &__img {
    width: 70%;
    height: auto;

    @media only screen and (min-width: 751px) {
      width: 45%;
    }
  }

  &__floors {
    margin-bottom: 4rem;

    @media only screen and (min-width: 751px) {
      margin-bottom: 40rem;
    }
  }

  &__mopping {
    margin-bottom: 4rem;

    @media only screen and (min-width: 751px) {
      margin-bottom: 40rem;
    }

    & p:first-of-type {
      margin-bottom: 4.8rem;

      @media only screen and (min-width: 751px) {
       margin-bottom: 6.4rem;
      }
    }
  }
}