.s6MaxV__09-mapping {
  position: relative;
  margin-bottom: 6.4rem;

  --height: 70rem;

  &__background {
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: var(--height);
    width: 100%;
    margin-bottom: 4rem;
    background-image: url(../images/s6maxV-mapping-background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;

    @media only screen and (max-width: 750px) {
      position: static;
      height: 40rem;
      background-position: center 80%;
    }
  }

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: var(--height);
    padding: 3.2rem;
    background-color: rgba(255, 255, 255, .85);
    transition: opacity .3s;

    @media only screen and (max-width: 750px) {
      position: static;
      height: fit-content;
      flex-direction: column;
      background-color: inherit;
    }
  }

  &__text {
    width: 35%;

    @media only screen and (max-width: 750px) {
      width: 70%;
    }

    @media only screen and (max-width: 420px) {
      width: 90%;
    }

    & h2 {
      text-align: left;
      line-height: 1.6;
      margin-bottom: 1.6rem;
    }

    & p {
      @include S6MaxV-paragraph(left);

      @media only screen and (max-width: 750px) {
        margin-bottom: 1.6rem;
       }
    }
  }

  &__img {
    width: 45%;
    height: auto;

    @media only screen and (max-width: 750px) {
      width: 70%;
    }
  }

  &__floors {
    margin-bottom: 40rem;

    @media only screen and (max-width: 750px) {
      margin-bottom: 4rem;
    }
  }

  &__mopping {
    margin-bottom: 40rem;

    @media only screen and (max-width: 750px) {
      margin-bottom: 4rem;
    }

    & p:first-of-type {
      margin-bottom: 6.4rem;

      @media only screen and (max-width: 750px) {
       margin-bottom: 4.8rem;
      }
    }
  }

  &__order {
  }
}