.s6MaxV__11-features {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4.8rem;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  padding: 8rem 12vw;
  background-color: #f4f4f4;

  @media only screen and (min-width: 751px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 11.2rem;
  }

  &__feature {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4rem; // animated in js
    opacity: 0; // animated in js
    transition: opacity .4s, margin-top .5s;

    @media only screen and (min-width: 751px) {
      display: block;
    }
  }

  &__icon {
    display: inline-block;
    flex-shrink: 0;
    width: 8rem;
    height: 8rem;
    background-image: url(../images/s6maxV-features_sprites.png);
    background-size: 8rem auto;
    margin-bottom: 0;
    margin-right: 1.6rem;
    
    @media only screen and (min-width: 751px) {
      width: 6rem;
      height: 6rem;
      background-size: 6rem auto;
    }

    @media only screen and (min-width: 901px) {
      margin-bottom: .8rem;
      margin-right: 0;
    }

    &--room-recognition {
      background-position-y: 33.333333%;
    }

    &--volume {
      background-position-y: 83.333333%;
    }

    &--battery {
      background-position-y: 0%;
    }

    &--filter {
      background-position-y: 16.666667%;
    }

    &--top-up {
      background-position-y: 50%;
    }

    &--sensor {
      background-position-y: 100%;
    }

    &--wheels {
      background-position-y: 66.666667%;
    }
  }

  & h4 {
    font-size: 1.6rem;
    
    @media only screen and (min-width: 901px) {
      font-size: 1.8rem;
    }
  }
}