:root {
  --color-bg-main: #fff;
  --colort-text-main: #000;
  --color-roborock: #ec0829;
  --color-txt-grey: #ddd;
  --color-txt-grey-darker: #666;
  --color-annotation: #4d88fe;
  --color-annotation-text: #fff;
}